<html>
   <head>
       <title>SendingTemps</title>
   </head>
   <body>
        <p style="text-align: center;"></p>
        <h1 style="text-align: center;">Welcome to SendingTemps.com</h1>
        <p style="text-align: center;"></p>
        <h3 style="text-align: center;">To get started, choose a crag you're hoping to climb at tomorrow:</h3>
        <p style="text-align: center;"></p>
        <h4 style="text-align: center;">Actually you only have one choice just yet...</h4>
        <form action="/result" method="GET"><p style="text-align: center;"><button type="submit">Smith Rock</button><form></p>
   </body>
</html>